//out: null
// Variables

// My variables

@brand-primary: #fed136;
@brand-danger: #e74c3c;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@placeholder-text: #bbbbbb;
@headings: h1,h2,h3,h4,h5,h6;
@images: "../img";

// Bootstrap variables overrides - http://getbootstrap.com/customize/#less-variables

// Body font
@font-family-base:  "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Nav default
@navbar-default-bg: @gray-darkest;
@navbar-default-border: transparent;

// Nav logo
@navbar-default-brand-color: @brand-primary;
@navbar-default-brand-hover-color: darken(@brand-primary, 10%);

// Nav links
@navbar-default-link-color: white;
@navbar-default-link-active-color: white;
@navbar-default-link-active-bg: @brand-primary;
@navbar-default-link-hover-color: @brand-primary;

// Nav toggle
@navbar-default-toggle-icon-bar-bg: white;
@navbar-default-toggle-border-color: @brand-primary;
@navbar-default-toggle-hover-bg: @brand-primary;

// Form
@form-group-margin-bottom: 25px;
@input-border-focus: @brand-primary;
